.List{
  .List__item--center{
    .List__item--subtitle{
      span{
        text-transform: capitalize;
        &:nth-child(1n+2){
          &:before{
            content: '•';
            padding-left: 2px;
            padding-right: 4px;
          }
        }
      }
    }
  }
}
