<div *ngIf="card">
  <div *ngIf="!isList" class="report card-container {{active}}">
    <!-- Card header -->
    <div class="card-header">
      <div class="card_category">{{ "reporting.reportCategory" | translate }}</div>
    </div>
    <!-- Card content -->
    <div class="card-content">
      <!-- Card details -->
      <div class="card_details">
        <!-- Title -->
        <div class="card_title">
            {{ card?.content }}
        </div>
        <!-- Subtitle -->
        <div class="card_subtitle">
          <span>{{ "commons.authorPreText" | translate }} {{ card?.author }}</span> 
          <span>{{card?.targetGroups}}</span>
        </div>
      </div>

      <div class="report-container progress" *ngIf="card?.answers > 0">
        <!--<div class="report-content" *ngIf="card?.answers > 0">-->
          
          <div class="report-content">
            <canvas #doughnutCanvas ></canvas>
          <div class="report-answers" >
            <div class="report-answer" *ngFor="let value of values" >
              <span class="report-color " [ngStyle]="{'background-color': value.color}"></span>
              <span class="report-text" style="color: #000;">{{value.result.choice.name}}</span>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>

      <div class="card-content" *ngIf="card?.answers == 0">
        <div class="card_details">
          <div class="report-container">
            <div class="report-content">
              <div class="report-answers">
                <div class="report-answer" *ngFor="let result of card.results">
                  <span class="report-text">{{result.choice.name}}</span>
                  <span class="report-number">{{result.value}}%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      
    
    <!-- Card footer -->
      <div class="report-tabs">
        <div class="report-tab">
          <span *ngIf="card?.views >= 2" class="report-text">{{ "reporting.view" | translate }}s</span>
          <span *ngIf="card?.views < 2" class="report-text">{{ "reporting.view" | translate }}</span>
          <span class="report-number">{{ card?.views }}</span>
        </div>
        <div class="report-tab">
          <span *ngIf="card?.answers >= 2" class="report-text">{{ "reporting.answers"| translate }}</span>
          <span *ngIf="card?.answers < 2" class="report-text">{{ "reporting.answer" | translate }}</span>
          <span class="report-number">{{ card?.answers }}</span>
        </div>
        <div class="report-tab">
          <span *ngIf="card?.likes >= 2" class="report-text">{{ "reporting.likes"| translate }}</span>
          <span *ngIf="card?.likes < 2" class="report-text">{{ "reporting.like" | translate }}</span>
          <span class="report-number">{{ card?.likes }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- LIST -->
  <div class="idea_container" *ngIf="isList">
    <div class="idea_content">
      <div class="idea_header">
        <div class="idea_author_img" *ngIf="card.authorPicture != null" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + card.authorPicture + ')'}"></div>
        <div class="idea_author_letter" *ngIf="card.authorPicture == null || card.authorPicture == undefined">{{card.author.charAt(0)}}</div>
        <div class="idea_infos">
          <span text-capitalize>{{ card?.author }}</span> <br>
          <span class="idea_subtitle">
            <span>{{ "commons.endDatePreText" | translate }}{{ card?.endDate | date:'MMMM dd, yyyy' }}</span> 
            <span text-capitalize>{{ card.targetGroups }}</span>
          </span>
        </div>
        <span class="type_text">{{"flow."+card.type.toLowerCase() | translate}}</span> 
      </div>
      <div class="idea_text">
        {{ card?.content}}
      </div>
      <div class="report-container progress" *ngIf="card?.answers > 0">
        <!--<div class="report-content" *ngIf="card?.answers > 0">-->
          
          <div class="report-content">
            <canvas #doughnutCanvas ></canvas>
          <div class="report-answers" >
            <div class="report-answer" *ngFor="let value of values" >
              <span class="report-color " [ngStyle]="{'background-color': value.color}"></span>
              <span class="report-text" style="color: #000;">{{value.result.choice.name}}</span>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>

      <div class="card-content" *ngIf="card?.answers == 0">
        <div class="card_details">
          <div class="report-container">
            <div class="report-content">
              <div class="report-answers">
                <div class="report-answer" *ngFor="let result of card.results">
                  <span class="report-text">{{result.choice.name}}</span>
                  <span class="report-number">{{result.value}}%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Card footer -->
    <div class="report-tabs">
      <div class="report-tab">
        <span *ngIf="card?.views >= 2" class="report-text">{{ "reporting.view" | translate }}s</span>
        <span *ngIf="card?.views < 2" class="report-text">{{ "reporting.view" | translate }}</span>
        <span class="report-number">{{ card?.views }}</span>
      </div>
      <div class="report-tab">
        <span *ngIf="card?.answers >= 2" class="report-text">{{ "reporting.answers"| translate }}</span>
        <span *ngIf="card?.answers < 2" class="report-text">{{ "reporting.answer" | translate }}</span>
        <span class="report-number">{{ card?.answers }}</span>
      </div>
      <div class="report-tab">
        <span *ngIf="card?.likes >= 2" class="report-text">{{ "reporting.likes"| translate }}</span>
        <span *ngIf="card?.likes < 2" class="report-text">{{ "reporting.like" | translate }}</span>
        <span class="report-number">{{ card?.likes }}</span>
      </div>
    </div>
  </div>
  <!-- END LIST -->
</div>
