a:link, a:focus {
  text-decoration: none;
  color: $secondary-color !important;
}

.block-title {
  opacity: 0.5;
  font-size: 10px;
  color: black;
  letter-spacing: 0;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em 0;
}
