<div class="preview-container">
  <div class="card with-background" [ngStyle]="{ 'background-image': 'url(' + picture + ')'}">

    <div class="content-box">
      <div class="title">
        {{ card?.content }}
      </div>
      <div class="subtitle">
        <span text-capitalize>{{ "commons.authorPreText" | translate }}{{ user?.firstname }} {{ user?.lastname }}</span> 
        <span>{{ "commons.endDatePreText" | translate }}{{ card?.endDate | date:'MMMM dd, yyyy' }}</span>  
        <span>{{utils.targets}}</span>
      </div>
    </div>
  </div>

</div>
<div class="footer_actions">
  <div tappable class="button is-primary" (click)="save()">{{ "idea.previewLayoutSaveAction" | translate }}</div>
</div>
