<ng-container *ngIf="card">
  <!-- CARDS display-->
  <div class="animated_card_container {{active}}">
    
    <div class="card">
      <div class="picture" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + card.picture + ')'}">
        <ion-spinner *ngIf="!card.picture" name="crescent"></ion-spinner>
        <div class="card_favorite {{card_liked}}" (click)="onAddLike()">
          <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Elements/Like/Default" transform="translate(-14.000000, -14.000000)" fill="#FFFFFF">
                <g id="Group">
                  <path d="M34,19.5909273 C34,13.3754728 26.6257453,11.7880151 24,17.6721864 C20.9805728,12.4374543 14,13.3754728 14,19.5909273 C14,24.9791092 24,32.2518364 24,32.2518364 C24,32.2518364 34,24.9791092 34,19.5909273 Z"
                    id="heart-icon"></path>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
  
      <div class="content-box">
        <div class="title">
          {{ card?.content }}
        </div>
        <div class="subtitle">
          <span text-capitalize>{{ "commons.authorPreText" | translate }}{{ user?.firstname }} {{ card?.author }}</span> 
          <span>{{ "commons.endDatePreText" | translate }}{{ card?.endDate | date:'MMMM dd, yyyy' }}</span>  
          <span>{{ card.targetGroups }}</span>
        </div>
      </div>
      <div class="footer multi-buttons">
        <div class="button" *ngFor="let result of card.results;" (click)="onAnswer(result.choice.id)">{{result.choice.name }}</div>
      </div>
    </div>
    
  </div> 

  <!-- LIST display -->
  <div class="list_item">
    <div class="content-box">
      <div class="title">
        {{ card?.content }}
      </div>
      <div class="subtitle">
        <span text-capitalize>{{ "commons.authorPreText" | translate }}{{ user?.firstname }} {{ card?.author }}</span> 
        <span>{{ "commons.endDatePreText" | translate }}{{ card?.endDate | date:'MMMM dd, yyyy' }}</span>  
        <span>{{ card.targetGroups }}</span>
      </div>
    </div>

    <div class="picture" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + card.picture + ')'}">
      <ion-spinner *ngIf="!card.picture" name="crescent"></ion-spinner>
    </div> 

    <div class="footer multi-buttons">
      <div class="button" *ngFor="let result of card.results;" (click)="onAnswer(result.choice.id)">{{result.choice.name }}</div>
    </div>

  </div>
</ng-container>
