<ion-content class="app is-fullheight">
  <div class="login has-main-color-bg">
    <div class="login-container">
      <div class="login-content">
        <div class="login-title">
          <span>Hive</span>
        </div>
        <form class="login-form" [formGroup]="authForm">
          <div class="field">
            <span class="label">
              <ion-icon name="mail"></ion-icon>
              <ion-input type="email" formControlName="email" placeholder="{{'commons.email' | translate}}"></ion-input>
            </span>
            <span class="input"></span>
          </div>

          <ion-label class='errorMessage' *ngIf="authForm.controls.email.touched && !authForm.controls.email.valid">
            Invalid Email.
          </ion-label>

          <button class="button is-primary" [disabled]="authForm.invalid" (click)="onCheckEmail()">{{'login.forgotPasswordLayoutSendMailAction' | translate}}</button>
        </form>
        <div class="login-help"></div>
        <div class="login-link">
          <a (click)="onToLogin()">{{ "login.mainLayoutLoginAction" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
