<ion-content>
  <div class="AppHeader has-main-color-bg">
    <div class="Toolbar Toolbar__dark">
      <!-- Left -->
      <div class="Toolbar__left">
        <span tappable (click)="onCancel()" class="Toolbar__button">
          <img src="assets/imgs/icons/close-white.svg" alt="" width="16px" height="16px">
        </span>
      </div>
      <!-- Right -->
      <div class="Toolbar__right">
        <button tappable (click)="onSaveChanges()" class="Toolbar__button">{{ "commons.save" | translate }}</button>
      </div>
      <!-- Center -->
      <div class="Toolbar__center">
        <div class="Toolbar__center--container">
          <span class="Toolbar__title">{{ "manageGroups.addMembers" | translate }}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="AppMain has-white-bg">
    <div class="Main">
      <div class="View">
        <div class="autocomplete">

          <!-- SEARCH BAR -->
          <ion-searchbar class="ion-searchbar" [(ngModel)]="searchTerm" (ionInput)="onSearchUser()" (ionClear)="onClearSearch()" placeholder="{{ 'manageGroups.filterItems' | translate }}">
          </ion-searchbar>

          <div *ngIf="!searchTerm; then initialContent else searchContent"></div>
          <ng-template #initialContent>
            <ul class="List" *ngIf="UsersStatus">
              <li tappable class="List__item" *ngFor="let user of UsersStatus">
                <!-- User Thumbnail --> 
                <div class="List__item--left" *ngIf="user.user.userProfileId != userProfileId">
                  <img *ngIf="user.user.picture != null" class="List__item--thumbnail" [src]="'data:image/jpeg;base64,' + user.user.picture">
                  <div *ngIf="user.user.picture == null" class="List__item--thumbnail--default">{{user.user.firstname.charAt(0)}}</div>   
                </div>

                <div class="List__item--center" *ngIf="user.user.userProfileId != userProfileId">
                  <div class="List__item--title" text-capitalize>{{user.user.firstname}} {{user.user.lastname}}</div>
                  <div class="List__item--subtitle">
                    {{user.user.email}}
                  </div>
                </div>

                <div class="List__item--right" *ngIf="user.user.userProfileId != userProfileId">
                  <!-- User to add -->
                  <div tappable class="List__item--icon" >
                    <!--<img src="assets/imgs/icons/plus.svg" alt="more" width="32px" height="32px" srcset=""/>-->
                    <ion-checkbox [(ngModel)]="user.isMember" (ionChange)="onUpdateMember(user.user.userProfileId,user.isMember)"></ion-checkbox>
                  </div>

                </div>

              </li>
            </ul>

            
          </ng-template>
          
          <ng-template #searchContent>
            <ul class="List" *ngIf="UsersStatus">
              <li tappable class="List__item" *ngFor="let user of filteredItems">

                <!--User Thumbnail -->
                <div class="List__item--left" *ngIf="user.userProfileId != idUser">
                  <img *ngIf="user.user.picture != null" class="List__item--thumbnail" [src]="'data:image/jpeg;base64,' + user.user.picture">
                  <div *ngIf="user.user.picture == null" class="List__item--thumbnail--default">{{user.user.firstname.charAt(0)}}</div>   
                </div>

                <div class="List__item--center" *ngIf="user.user.userProfileId != idUser">
                  <div class="List__item--title" text-capitalize>{{user.user.firstname}} {{user.user.lastname}}</div>
                  <div class="List__item--subtitle">
                    {{user.user.email}}
                  </div>
                </div>

                <div class="List__item--right" *ngIf="user.user.userProfileId != userProfileId">
                    <!-- User to add -->
                    <div tappable class="List__item--icon" >
                      <!--<img src="assets/imgs/icons/plus.svg" alt="more" width="32px" height="32px" srcset=""/>-->
                      <ion-checkbox [(ngModel)]="user.isMember" (ionChange)="onUpdateMember(user.user.userProfileId,user.isMember)"></ion-checkbox>
                    </div>
  
                  </div>

              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ion-content>
