.fakefile {
  position: absolute;
  transform: translate(50%, 50%);
 // transform: translateX(50%);
  z-index: 1;
  font-size: 40px;
  color: rgba(120, 120, 120,0.7) ;
}

div.updatePhoto{
  position: absolute;
  //top:50%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
}

.divPhoto{
  position: relative;
  //margin: 0 auto;
  //display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 6px;
}