/** function circular-progress
 **------------------------------------------*/
@function circular-progress($maxPercent, $percent, $color-bar, $color-back) {

  $increment: 360 / $maxPercent;
  $half: round($maxPercent / 2);
  $background-image: '';

  @if $percent < $half {
    $nextdeg: 90deg +  ($increment * $percent);

    $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent),linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

  } @else {
      $nextdeg: -90deg + ($increment * ($percent - $half));

      $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent),linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';
    }
  @return unquote($background-image);
}

/** circular-progress styles
 **------------------------------------------*/
$percent-to-show: 3;// value to show in the circular progress CHANGE ME

.circular-progress {
  //circular-progress function
  //circular-progress($maxPercent, $percent, $color-bar, $color-back);
  background: circular-progress(100, $percent-to-show, $second-color, #E0E0E0);
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 150px;
  transition: all .3s linear;
  
  &::before {
    background-color: #FAFAFA;
    border-radius: 50%;
    color: $second-color;
    content: '#{$percent-to-show}%';
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    left: 0;
    line-height: 150px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(.87);
    width: 100%;
  }
}
