<ion-content class="app">
  <div class="AppHeader has-main-color-bg">
    <div class="Toolbar Toolbar__dark">
      <!-- Left -->
      <div class="Toolbar__left">
        <span tappable (click)="onReturn(current_password,password,confirm_password)" class="Toolbar__button">
          <img src="assets/imgs/icons/left-arrow.svg" alt="">
        </span>
      </div>
      <!-- Right -->
      <div class="Toolbar__right">
        <button type="submit" [disabled]="authForm.invalid" (click)="onUpdatePassword(current_password,password,confirm_password)" class="Toolbar__button">{{ "commons.save" | translate }}</button>
      </div>
      <!-- Center -->
      <div class="Toolbar__center">
        <div class="Toolbar__center--container">
          <span class="Toolbar__title">{{ "account.changePassword" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
      
  <div class="AppMain has-grey-bg">
    <div class="Main">
      <div class="View">
        <div class="login-form">
          <div class="field" [formGroup]="authForm">
            <span class="label">
              <ion-icon name="key"></ion-icon>
              <ion-input class="input" formControlName="current_password" type="password" placeholder="{{ 'account.currentPassword' | translate }}" [(ngModel)]="current_password"></ion-input>
            </span>
          </div>

          <ion-label class='errorMessage' *ngIf="authForm.controls.current_password.touched && authForm.controls.current_password.hasError('required')">
              Password is required.
          </ion-label>

          <div class="field" [formGroup]="authForm">
            <span class="label">
              <ion-icon name="key"></ion-icon>
              <ion-input class="input" formControlName="password" type="password" placeholder="{{ 'account.newPassword' | translate }}" [(ngModel)]="password"></ion-input>
            </span>
          </div>

          <ion-label class='errorMessage' *ngIf="authForm.controls.password.touched && authForm.controls.password.hasError('required')">
              Password is required.
          </ion-label>

          <ion-label class='errorMessage' *ngIf="password?.length > 0 && authForm.controls.password.touched && !authForm.controls.password.valid">
            Password should be between 6 ans 12 characters<br>
            and contain at least one number, one capital letter, <br>
            one small letter and one special character.
          </ion-label>

          <div class="field" [formGroup]="authForm">
            <span class="label">
              <ion-icon name="key"></ion-icon>
              <ion-input class="input" formControlName="confirm_password" type="password" placeholder="{{ 'account.confirmPassword' | translate }}" [(ngModel)]="confirm_password"></ion-input>
            </span>
          </div>

          <ion-label class='errorMessage' *ngIf="authForm.controls.confirm_password.touched && authForm.hasError('mismatchedPasswords')">
            Passwords do not match.
          </ion-label>
        
        </div>
      </div>

    </div>
  </div>
</ion-content>
