<ion-content class="app">
  <router-outlet></router-outlet>
  <div class="header header-big has-main-color-bg with-triangle">
      <div class="header-left">
        <div class="view_title">{{ "posts.newPost" | translate }}</div>
      </div>
      <div class="header-right">
        <div class="header-item">
          <a (click)="onCancel()">
            <img src="assets/imgs/icons/header/close-white.svg" width="32px" height="32px" />
          </a>       
        </div>
      </div>
  </div>
  <div class="main with-triangle">
    <div class="new-posts-category">
      <div class="new-posts-category-title">{{ "posts.chooseCat" | translate}}</div>
      <div class="new-posts-category-container">
        <div class="new-posts-category-list">
          <div tappable class="new-post-category" (click)="onShowCreateModal('Idea')">
            <div class="new-post-category-image" style="background-color: #B8E986"></div>
            <div class="new-post-category-content">
              <div class="new-post-category-title">
                <a>{{ "posts.idea" | translate }}</a>  
              </div>
            </div>
          </div>
        </div>
        <div class="new-posts-category-list">
          <div tappable class="new-post-category" (click)="onShowCreateModal('Question')">
            <div class="new-post-category-image" style="background-color: #87D8E8"></div>
            <div class="new-post-category-content">
              <div class="new-post-category-title">
                <a>{{ "posts.question" | translate }}</a>  
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="new-posts-category-list">
          <div tappable class="new-post-category" (click)="onShowCreateModal('Survey')">
            <div class="new-post-category-image" style="background-color: #F4EE42"></div>
            <div class="new-post-category-content">
              <div class="new-post-category-title">
                <a>{{ "posts.survey" | translate }}</a>  
              </div>
            </div>
          </div>
        </div> -->
        <div class="new-posts-category-list">
          <div tappable class="new-post-category" (click)="onShowCreateModal('Event')">
            <div class="new-post-category-image" style="background-color: #E88797"></div>
            <div class="new-post-category-content">
              <div class="new-post-category-title">
                <a>{{ "posts.event" | translate }}</a>  
              </div>
            </div>
          </div>
        </div>
        <div class="new-posts-category-list">
          <div tappable class="new-post-category" (click)="onShowCreateModal('Quote')">
            <div class="new-post-category-image" style="background-color: #46adf2"></div>
            <div class="new-post-category-content">
                <div class="new-post-category-title">
                  <a>{{ "posts.quote" | translate }}</a>  
                </div>
            </div>
          </div>
        </div>
        <div class="new-posts-category-list">
          <div tappable class="new-post-category" (click)="onShowCreateModal('Suggestion')">
            <div class="new-post-category-image" style="background-color: #5d6777"></div>
            <div class="new-post-category-content">
              <div class="new-post-category-title">
                <a>{{ "posts.suggestion" | translate }}</a>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</ion-content>
