<div *ngIf="topPosts && topPosts.length > 0">
  <div class="top-posts top-posts-listing">
    <div class="top-posts-title">{{ "highlights.topPosts" | translate }}</div>
    <div class="top-posts-container">
      <div class="top-posts-list" *ngFor="let card of topPosts">
        <div tappable class="top-post" (click)="onShowCard(card)">
          <img class="top-post-image" [src]="'data:image/jpeg;base64,' + card?.picture"/>
          <div class="top-post-content">
            <div class="top-post-title">{{card?.content}}</div>
            <div class="top-post-subtitle">
              <span *ngIf="card?.views < 2">{{card?.views}} {{ "reporting.view" | translate }}</span>
              <span *ngIf="card?.views >= 2">{{card?.views}} {{ "reporting.views" | translate }}</span>
              <span *ngIf="card?.answers < 2">{{card?.answers}} {{ "reporting.answer" | translate }}</span>
              <span *ngIf="card?.answers >= 2">{{card?.answers}} {{ "reporting.answers" | translate }}</span>
              <span *ngIf="card?.likes < 2">{{card?.likes}} {{ "reporting.like" | translate }}</span>
              <span *ngIf="card?.likes >= 2">{{card?.likes}} {{ "reporting.likes" | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>