.auth {
  display: flex;
  height: 100vh;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    display: block;
    width: 0;
    height: 0;
    bottom: 0;
    border-bottom: 210px solid white;
    border-right: 300vw solid transparent;
    position: absolute;
    z-index: 0;
  }
  &-container {
    width: 100%;
    padding: .75em 1.5em;
    z-index: 1;
    display: flex;
    align-items: flex-end;
  }
  &-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
  }
  &-title {
    padding: 24px 0;
    font-size: 2em;
    color: $primary-color-contrast;
    letter-spacing: 0.35px;
    font-weight: 900;
  }
  &-form {
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1), 0 15px 20px 0 rgba(0,0,0,0.1);
    .field {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 54px;
      line-height: 54px;
      padding: 0 1em;
      .label {
        display: flex;
        align-items: center;
      }
    }
  }
  &-help {
    padding: 1.2em 24px;
    font-size: 12px;
  }
  &-link {
    padding: 24px 0;
    a:link {
      color: $primary-color;
    }
  }
}

.errorMessage {
  color: red;
  padding-left: 5%;
  justify-content: center;
  justify-content: center;
  font-size: 12px;
}
