<ion-content class="app" has-bouncing="false">
  <div class="header header-big has-main-color-bg with-triangle">
    <div class="header-left">
      <div *ngIf="showCards == false" class="view_title">{{ "flow.flowConcernTitle" | translate }}</div>
      <div *ngIf="showCards == true" class="view_title">Replay</div>
    </div>

    <div *ngIf="isReplayed == true && replayCards.length > 0" class="header-right">
      <div class="header-item">
        <a (click)="onReplay()">
          <img src="assets/imgs/icons/header/replay.svg" width="16px" height="16px" />
        </a>       
      </div>
    </div>
    <div *ngIf="showCards == true" class="header-right">
      <div class="header-item">
        <a (click)="onCloseReplay()">
          <img src="assets/imgs/icons/header/close-blue.svg" width="16px" height="16px" />
        </a>       
      </div>
    </div>
  </div>
  <div class="main">
    <div class="cards-container">
      <div *ngIf="cards && showCards == false">
        <div *ngIf="displayCards == null || displayCards == undefined || displayCards.length == 0; then emptyCards else fullCards"></div>

        <!-- template to show when the card list is empty (suggesting to create a post)-->
        <ng-template #emptyCards>
          <div class="cards-container__inset">
            <div class="suggestion card-container has-bg-img"
            style="background-image: url('assets/imgs/create_idea.jpg')">
              <!-- CONTENT -->
              <div class="card-content">
                <!-- Card details -->
                <div class="card_details">
                  <!-- Title -->
                  <div class="card_title">
                    {{ "flow.noCard" | translate }}
                  </div>
                </div>
              </div>
              <!-- FOOTER -->
              <div class="card-footer">
                <div class="card-footer-wrapper">
                  <!-- ANSWERS -->
                  <div class="one-buttons">
                    <div tappable class="button">
                      <a routerLink="/tabs/posts/newPost">
                        {{ "flow.createPost" | translate }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <!-- Template to show when the card list is not empty -->
        <ng-template #fullCards>
          <div *ngIf="!isList" id="Swing">
            <!-- Swipe animation stack -->
            <ul swing-stack #myswing1 [stackConfig]="stackConfig" (throwout)="onSwipeCard($event)" id="card-stack" class="stack" [style.zIndex]="-1000">
              <!-- A card -->
              <li #mycards1 swing-card *ngFor="let card of displayCards;">
                <div [ngSwitch]="card?.card.type">
                  <!-- if the card is an Idea -->
                  <div *ngSwitchCase="'Mood'"><app-mood-card [card]="card.card" [activeCardId]="activeCardId" (answered)="onCardAnswered(userProfileId)" [style.zIndex]="card.index"></app-mood-card></div>
                  <!-- if the card is an Idea -->
                  <div *ngSwitchCase="'Idea'"><app-idea-card [card]="card.card" [activeCardId]="activeCardId" (answered)="onCardAnswered(userProfileId)" [style.zIndex]="card.index"></app-idea-card></div>
                  <!-- if the card is a Question -->
                  <div *ngSwitchCase="'Question'"><app-question-card [card]="card.card" [activeCardId]="activeCardId" (answered)="onCardAnswered(userProfileId)" [style.zIndex]="card.index"></app-question-card></div>
                  <!-- if the card is a Question Survey -->
                  <div *ngSwitchCase="'QuestionSurvey'"><app-survey-question-card [card]="card.card" [activeCardId]="activeCardId" (answered)="onCardAnswered(userProfileId)" [style.zIndex]="card.index" ></app-survey-question-card></div>
                  <!-- if the card is a Event -->
                  <div *ngSwitchCase="'Event'"><app-event-card [card]="card.card" [activeCardId]="activeCardId" (answered)="onCardAnswered(userProfileId)" [style.zIndex]="card.index"></app-event-card></div>
                  <!-- if the card is a Quote -->
                  <div *ngSwitchCase="'Quote'"><app-quote-card [card]="card.card" [activeCardId]="activeCardId" (answered)="onCardAnswered(userProfileId)" [style.zIndex]="card.index"></app-quote-card></div>
                  <!-- if the card is a Suggestion -->
                  <div *ngSwitchCase="'Suggestion'"><app-suggestion-card [card]="card.card" [activeCardId]="activeCardId" (answered)="onCardAnswered(userProfileId)" [style.zIndex]="card.index"></app-suggestion-card></div>
                  <!-- if the card is a Survey -->
                  <div *ngSwitchCase="'Survey'"><app-survey-card [card]="card.card" [activeCardId]="activeCardId" (started)="onStartSurvey(activeCardId)" [style.zIndex]="card.index"></app-survey-card></div>
                  <!-- if the card is a Survey -->
                  <div *ngSwitchCase="'SurveyReport'"><app-survey-report-card [card]="card.card" [activeCardId]="activeCardId" (reports)="onSeeReportSurvey(activeCardId)"></app-survey-report-card></div>
                  <!-- if the card is a Survey -->
                  <div *ngSwitchCase="'QuestionSurveyReport'"><app-survey-question-report-card [card]="card.card" [activeCardId]="activeCardId" ></app-survey-question-report-card></div>
                  <!-- if the card is a Reporting -->
                  <div *ngSwitchCase="'Reporting'"><app-reporting-card [card]="card.card" [activeCardId]="activeCardId"></app-reporting-card></div>
                </div>
              </li>
            </ul>
          </div>

          <!----- LIST ----->
          <ul *ngIf="isList" class="flow_stack"  style="padding:0; margin: 0 5%;">
            <li *ngFor="let card of cards">
              <div [ngSwitch]="card?.type">
                  <!-- if the card is an Idea -->
                  <div *ngSwitchCase="'Mood'"><app-mood-card [card]="card" (answered)="onCardListAnswered(card.id, userProfileId)"></app-mood-card></div>
                  <!-- if the card is an Idea -->
                  <div *ngSwitchCase="'Idea'"><app-idea-card [card]="card" (answered)="onCardListAnswered(card.id, userProfileId)"></app-idea-card></div>
                  <!-- if the card is a Question -->
                  <div *ngSwitchCase="'Question'"><app-question-card [card]="card" (answered)="onCardListAnswered(card.id, userProfileId)"></app-question-card></div>
                  <!-- if the card is a Question Survey -->
                  <div *ngSwitchCase="'QuestionSurvey'"><app-survey-question-card [card]="card" (answered)="onCardListAnswered(card.id, userProfileId)"></app-survey-question-card></div>
                  <!-- if the card is a Event -->
                  <div *ngSwitchCase="'Event'"><app-event-card [card]="card" (answered)="onCardListAnswered(card.id, userProfileId)"></app-event-card></div>
                  <!-- if the card is a Quote -->
                  <div *ngSwitchCase="'Quote'"><app-quote-card [card]="card" (answered)="onCardListAnswered(card.id, userProfileId)"></app-quote-card></div>
                  <!-- if the card is a Suggestion -->
                  <div *ngSwitchCase="'Suggestion'"><app-suggestion-card [card]="card" (answered)="onCardListAnswered(card.id, userProfileId)"></app-suggestion-card></div>
                  <!-- if the card is a Reporting -->
                  <div *ngSwitchCase="'Reporting'"><app-reporting-card [card]="card"></app-reporting-card></div>
              </div>
            </li>
          </ul>
          <!----- END LIST ----->
        </ng-template>
      </div>

      <!-- Template to show Replay -->
      <div id="Swing" *ngIf="!isList && showCards == true">
        <!-- Swipe animation stack -->
        <ul swing-stack #myswing2 [stackConfig]="stackReplayed" (throwout)="onSwipeCardReplayed($event)" id="card-stack" class="stack" [style.zIndex]="-1000">
          <!-- A card -->
          <li #mycards2 swing-card *ngFor="let card of replayCards;">
            <div [ngSwitch]="card?.card.type">
              <!-- if the card is an Idea -->
              <div *ngSwitchCase="'Mood'"><app-mood-card [card]="card.card" (replayed)="onChooseCard(card)" [style.zIndex]="card.index"></app-mood-card></div>
              <!-- if the card is an Idea -->
              <div *ngSwitchCase="'Idea'"><app-idea-card [card]="card.card" (replayed)="onChooseCard(card)" [style.zIndex]="card.index"></app-idea-card></div>
              <!-- if the card is a Question -->
              <div *ngSwitchCase="'Question'"><app-question-card [card]="card.card" (replayed)="onChooseCard(card)" [style.zIndex]="card.index"></app-question-card></div>
              <!-- if the card is a Event -->
              <div *ngSwitchCase="'Event'"><app-event-card [card]="card.card" (replayed)="onChooseCard(card)" [style.zIndex]="card.index"></app-event-card></div>
              <!-- if the card is a Survey -->
              <div *ngSwitchCase="'Survey'"><app-survey-card [card]="card.card" (replayed)="onChooseCard(card)" [style.zIndex]="card.index"></app-survey-card></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
