<ion-content>
    <!-- Header -->
    <div class="header header-small has-main-color-bg">
      <div class="header-left">
        <div class="view_title">{{ "idea.questionViewTitle" | translate }}</div>
      </div>
      <div class="header-center">
        <div class="view_title">{{ "idea.questionViewTitle" | translate }}</div>
      </div>
      <div class="header-right">
        <div class="header-item">
          <a (click)="onDiscard()">
            <img src="assets/imgs/icons/header/close-white.svg" width="32px" height="32px" />
          </a>
        </div>
      </div>
    </div>
    <!-- Main -->
    
    <ng-container [ngSwitch]="step">
      <idea-create-question 
        *ngSwitchCase="steps.CREATE_QUESTION" 
        (picture)="setPicture($event)" 
        (changes)="applyChanges($event)"
        (utilsChange)="utils = $event"
        [vm]="createIdeaVm" 
        [utils]="utils"
      ></idea-create-question>
      <idea-create-settings 
        *ngSwitchCase="steps.CREATE_SETTINGS" 
        (changes)="applyChanges($event)" 
        (utilsChange)="utils = $event"
        [vm]="createIdeaVm"
        [utils]="utils"
      ></idea-create-settings>
      <idea-preview 
        [picture]="picture" 
        [card]="createIdeaVm" 
        [utils]="utils"
        *ngSwitchCase="steps.PREVIEW"></idea-preview>
    </ng-container>
    
</ion-content>
<ion-footer class="with-tabs" *ngIf="step != steps.PREVIEW">
  <div *ngIf="step != steps.CREATE_QUESTION" tappable class="button" (click)="previousStep()">{{ "idea.previous" | translate }}</div>
  <div *ngIf="step == steps.CREATE_QUESTION" tappable class="button" (click)="onDiscard()">{{ "commons.cancel" | translate }}</div>
  <button class="button" (click)="nextStep()">{{ "idea.next" | translate }}</button>
</ion-footer>

