<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="flow">
      <ion-icon name="layers"></ion-icon>
      <ion-label>{{ 'flow.flowConcernTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="highlights">
      <ion-icon name="star"></ion-icon>
      <ion-label>{{ 'highlights.highlightsConcernTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-icon name="albums"></ion-icon>
      <ion-label>{{ 'posts.postsConcernTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>{{ 'account.accountConcernTitle' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>