<div *ngIf="card">
  <div class="question card-container {{active}}">
    <!-- Card header -->
    <div class="card-header">
      <div class="card_category">{{ card?.contentSurvey }}</div>
    </div>
    <!-- CONTENT -->
    <div class="card-content">
      <!--<div class="card_favorite {{card_liked}}" (click)="onAddLike()">
          <svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Elements/Like/Default" transform="translate(-14.000000, -14.000000)" fill="#FFFFFF">
                <g id="Group">
                  <path d="M34,19.5909273 C34,13.3754728 26.6257453,11.7880151 24,17.6721864 C20.9805728,12.4374543 14,13.3754728 14,19.5909273 C14,24.9791092 24,32.2518364 24,32.2518364 C24,32.2518364 34,24.9791092 34,19.5909273 Z"
                    id="heart-icon"></path>
                </g>
              </g>
            </g>
          </svg>
      </div>-->
      <!-- Card image -->
      <div class="card_image" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + card.picture + ')'}">
        <span class="paging-questions">{{card?.questionNumber}}/{{card?.maxQuestions}}</span>
      </div>
      <!-- Card details -->
      <div class="card_details">
        <!-- Title -->
        <div class="card_title">
          {{ card?.content}}
        </div>
        <!-- Subtitle -->
        <div class="card_subtitle">
          <span text-capitalize>{{ "commons.authorPreText" | translate }}{{ card?.author }}</span> 
          <span>{{ "commons.endDatePreText" | translate }}{{ card?.endDate | date:'MMMM dd, yyyy' }}</span> 
          <span text-capitalize>{{ card.targetGroups }}</span>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <div class="card-footer">
      <div class="card-footer-wrapper">
        <!-- ANSWERS -->
        <div class="multi-buttons">
          <div class="buttons_container" >
            <div class="button-item" *ngFor="let result of card.results;" (click)="onAnswer(result.choice.id)">{{result.choice.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
