@import '/src/theme/variables.scss';

.fakefile {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 50px;
  color: rgba(120, 120, 120,0.7) ; 
}

div.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  //filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

div.updatePhoto{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  height: 50px;
  width: 120px;
}


.divPhoto{
  position: relative;
  margin: 16px auto;
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 6px;
  img, ion-img{
    width: 120px;
    height: 120px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
  }
}

.checkmark-icon{
  background: transparent;
  font-size: 45px;
  text-align: center;
  margin: 0 auto;
}

ion-list {
  position: relative;
  top: 5%;
}
ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item {
  border-bottom: none;
}

.edit_profil_img--default{
  display: block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 80px;
  color: $primary-color;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  margin-right: 16px;
  z-index: 99;
}
