
<form class="form" [formGroup]="questionForm">
  <div class="main">
    <div class="new-post-step">
      <div class="new-post-step-content">
        <div class="container">
          
            <div class="control">
              <textarea formControlName="content" maxLength=140 class="textarea" placeholder="{{ 'suggestion.suggestionContent' | translate }}" name="idea"></textarea>
            </div>
            <!-- Upload photo -->
            <div class="upload-photo">
              <div class="block-title">{{ "idea.uploadPic" | translate }}</div>
              <div class="upload-photo-container">
                <div class="upload-photo-list">
                  <div class="upload-photo-item is-empty">
                    <div class="divPhoto" (click)="onSelectImageSource()">

                        <div tappable class="upload-photo-item is-filled" [ngStyle]="{ 'background-image': 'url(' + smallImg + ')', 'border': userPictureBoxStyle }">
                        <!-- <div class="updatePhoto">
                          <div class="file"></div> -->
                          <ion-icon class="fakefile" name="camera"></ion-icon>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                  <div *ngIf="defaultPicture" class="upload-photo-item is-filled" (click)="onAdaptImageBoxStyle(1)" [ngStyle]="{ 'background-image': 'url(' + defaultPicture + ')', 'border': defaultPictureBoxStyle }"></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
