<!-- Main -->
<div class="main with-triangle">
  <div class="cards-container flow">
    <div class="cards-container flow">
      <div class="question card-container is-card-active">

        <!-- CONTENT -->
        <div class="card-content">

          <!-- Card image -->
          <div *ngIf="PicToPreview" class="card_image" [ngStyle]="{ 'background-image': 'url(' + PicToPreview + ')'}">  
          </div> 

          <!-- Card details -->
          <div class="card_details">

            <!-- Title -->
            <div class="card_title">
              {{ card?.content }}
            </div>

            <!-- Subtitle -->
            <div class="card_subtitle">
              <span text-capitalize>{{ "commons.authorPreText" | translate }}{{ user?.firstname }} {{ user?.lastname }}</span> 
              <span>{{ "commons.endDatePreText" | translate }}{{ card?.endDate | date:'MMMM dd, yyyy' }}</span>  
              <span>{{utils.targets}}</span>
            </div>

          </div>

        </div>
      
        <!-- FOOTER -->
        <div class="card-footer">
          <div class="card-footer-wrapper">

            <!-- ANSWERS -->
            <div class="two-buttons">
              <div class="button">{{ "idea.yes" | translate }}</div>
              <div class="button">{{ "idea.no" | translate }}</div>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="footer_actions">
      <div tappable class="button is-primary" (click)="onSave()">{{ "idea.previewLayoutSaveAction" | translate }}</div>
    </div>

  </div>
</div>
