<ion-content class="app">
  <div class="AppHeader has-main-color-bg">
    <div class="Toolbar Toolbar__dark">
      <!-- Left -->
      <div class="Toolbar__left">
        <span tappable (click)="return()" class="Toolbar__button">
          <img src="assets/imgs/icons/left-arrow.svg" alt="">
        </span>
      </div>
      <!-- Right -->
      <div class="Toolbar__right">
        <button type="submit" [disabled]="authForm.invalid" (click)="updatePassword()" class="Toolbar__button">{{ "commons.save" | translate }}</button>
      </div>
      <!-- Center -->
      <div class="Toolbar__center">
        <div class="Toolbar__center--container">
          <span class="Toolbar__title">{{ "account.changePassword" | translate }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="password_form ion-margin">
    <form class="auth-form" [formGroup]="authForm" *ngIf="authForm">
      <div class="field">
        <span class="label">
          <ion-icon name="key"></ion-icon>
          <ion-input class="input" formControlName="current_password" type="password" placeholder="{{'account.currentPassword' | translate}}"></ion-input>
        </span>
      </div>
      <ion-label class='errorMessage' *ngIf="authForm.controls.current_password.touched && authForm?.controls?.current_password?.hasError('required')">
        {{ 'commons.requiredField' | translate }}
      </ion-label>


      <div class="field">
        <span class="label">
          <ion-icon name="key"></ion-icon>
          <ion-input class="input" formControlName="password" type="password" placeholder="{{'commons.password' | translate}}"></ion-input>
        </span>
      </div>
      <ion-label class='errorMessage' *ngIf="authForm.controls.password.touched && authForm?.controls?.password?.hasError('required')">
        {{ 'commons.requiredField' | translate }}
      </ion-label>

      <div class="field">
        <span class="label">
          <ion-icon name="key"></ion-icon>
          <ion-input class="input" formControlName="confirm_password" type="password" placeholder="{{'account.confirmPassword' | translate}}"></ion-input>
        </span>
      </div>
      <ion-label class='errorMessage' *ngIf="authForm.controls.confirm_password.touched && authForm?.controls?.confirm_password?.hasError('required')">
        {{ 'commons.requiredField' | translate }}
      </ion-label>
    </form>
  </div>
</ion-content>
