/*==============================
=            Spacing           =
===============================*/
$SpacingBase: 16px !default;

.Spacing__xs{
  padding: $SpacingBase / 8;
}
.Spacing__sm{
  padding: $SpacingBase / 4;
}
.Spacing__md{
  padding: $SpacingBase / 2;
}
.Spacing__base{
  padding: $SpacingBase;
}
.Spacing__lg{
  padding: ceil($SpacingBase * 1.5);
}
.Spacing__xl{
  padding: ceil($SpacingBase * 2);
}
.Spacing__xxl{
  padding: ceil($SpacingBase / 2.5);
}