<ion-content>
  <router-outlet></router-outlet>  
  <div class="app">
    <div class="AppHeader header header-big has-main-color-bg">
      <div class="header-left">
        <div class="header_profil">
          <div *ngIf="user?.picture != null" class="header_profil_img" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + user?.picture + ')'}"></div>
          <div *ngIf="user?.picture == null" class="header_profil_img--default">{{user?.firstname?.charAt(0)}}</div>
          <div class="header_profil_content">
            <div class="header_profil_name">{{user?.firstname}} {{user?.lastname}}</div>
            <div class="header_profil_position">{{user?.job}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="AppMain has-grey-bg">
      <div class="Main account">
        <ul class="List">
          <li tappable class="List__item List__item--chevron" (click)="onToEditProfile()">
            <div class="List__item--center">{{ "account.editProfileLayout" | translate }}</div>
          </li>
          <li tappable class="List__item List__item--chevron" (click)="onToManageGroups()">
            <div class="List__item--center">{{ "manageGroups.manageGroupsConcern" | translate }}</div>
          </li>
          <li tappable class="List__item List__item--chevron" (click)="onToSettings()">
            <div class="List__item--center">{{ "settings.settingsConcernTitle" | translate }} </div>
          </li>
        </ul>
        <div class="Spacing__md"></div>
        <ul class="List">
          <li tappable class="List__item List__item--chevron" (click)="onSignOut()">
            <div class="List__item--center">{{ "account.signOut" | translate }}</div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</ion-content>