/*!
 * Project: Project name
 * Author: Author name
 */

/* ==========================================================================
   Variables
   ========================================================================== */
$main-color:#4324B0;
$second-color:#715FFF;

$green: #B8E986;
$pink: #E88797;
$light-grey: #E5E5EA;
$grey: #C2C2C2;
$red: #D0021B;
$light-blue: #79D0FD;
$orange: #F5A623;

/* ==========================================================================
   Functions
   ========================================================================== */

@function dynamic-text-color($color: null) {
  @if (lightness($color) > 50) {
    @return darken($color, 25%);
  } @else {
    @return lighten($color, 50%);
  }
}

@import 'components/View';
@import 'components/Toolbar';
@import 'helpers/mixins';
@import 'base/_all';
@import 'layout/_all';
@import 'components/Spacing';
@import 'components/buttons';
@import 'components/cards/cards';
@import 'components/posts/_all';
@import 'components/List';
@import 'helpers/circles.scss';

@import 'vendor/_normalize';
@import 'views/_all';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
}

.app{
  display: block;
  height: 100%;
  overflow: hidden;
  &_scroll{
    overflow-y: scroll;
  }
  &.has-navbar{
    height: calc(100vh - 162px );
  }
  &.is-fullheight{
    height: 100vh;
    overflow: hidden;
  }
}

.has-black-bg{
  background-color: black;
}

.has-grey-bg{
  background-color: $light-grey;
}

.has-main-color-bg{
  background-color: $main-color;
}

::-webkit-scrollbar{
  width: 0 !important  
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
}

.container{
  padding: 0 16px;
}

.footer_actions{
  display: block;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
}
.SameLine
{
  display:inline-block;
  width:45%;
	margin:10px 2.5% 10px 2.5%;
	text-align:center;
}
.add{
  display:block;
  padding-right:15px;
}

.list{
  margin: -1px 0 32px;
  list-style-type: none;
  .items{
    contain: content;
    position: relative;
    &.item-block{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 54px;
      overflow: hidden;
      border: 0;
      text-align: initial;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      padding-left: 24px;
      background-color: #fff;
    .item-inner{
      margin: 0;
      padding: 0;
      display: flex;
      flex: 1;
      flex-direction: inherit;
      align-items: inherit;
      align-self: stretch;
      min-height: inherit;
      padding-right: 32px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: right 16px center;
      background-image: url('/assets/imgs/icons/right-arrow.svg');
      }
    &:not(:last-of-type){
      .item-inner{
        border-bottom: .55px solid #c8c7cc;
      }
    }      
    }
  }
}

.tabbar{
  & ~ .Main{
    padding-bottom: 48px;
  }
}

.footer{
  background: white;
}
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background: none;
}


.refresher-active{
  
}      

ion-loading.transparent {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
    .spinner-crescent circle {
      stroke-width: 8px;
    }
  }
}

.button-ios{
  margin: 0;
}