/*==============================
=            View              =
==============================*/
$AppHeaderHeight: 48px !default;
$AppFooterHeight: 48px !default;

html,body{
  position: relative;
  height: 100%;
  width: 100%;
}

// -> APP
//**************
#App{
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
}

// -> Header
//**************
.AppHeader{
  position: absolute;
  top: 0;
  left: 0;
  height: $AppHeaderHeight;
  z-index: 500;
  width: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  // Add a padding-top when the Header is visible
  &.header-big ~ :not(.header-small){
    .Main{
      padding-top: 88px;
    }
  }
  & ~ :not(.header-big){
    .Main{
      padding-top: 48px;
    }
  }
}

// -> View
//**************
.AppMain{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  overflow: hidden;

  // -> Footer
  //**************
  .AppFooter{
    position: absolute;
    z-index: 500;
    transform: translate3d(0, 0, 0);
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    width: 100%;
    height: $AppFooterHeight;
    // Add padding-bottom when the footer is visible
    & ~ .Main{
      padding-bottom: $AppFooterHeight;
    }
  }

  // -> Page
  //**************
  .Main{
    height: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    will-change: scroll-position;
    -webkit-overflow-scrolling: touch;
    padding-bottom: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // -> Container
    //**************
    .MainContent{
      position: relative;
      width: 100%;
      box-sizing: content-box;
      flex-direction: column;
      overflow: auto;
    }
  }
}

// -> View
//**************
.View{
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

// Flex
//**************
.is-flex{
  display: flex;
}

// Justify
.flex__justify--start{
  justify-content: flex-start;
}
.flex__justify--between{
  justify-content: space-between;
}
.flex__justify--center{
  justify-content: center;
}
.flex__justify--end{
  justify-content: flex-end;
}

// Align
.flex__align--start{
  align-items: flex-start;
}
.flex__align--center{
  align-items: center;
}
.flex__align--end{
  align-items: flex-end;
}
.flex__align--between{
  align-items: space-between;
}
.flex__align__around{
  align-items: space-around;
}

// Direction
.flex__direction--row{
  flex-direction: row;
}
.flex__direction--column{
  flex-direction: column;
}

// Grow
.flex__grow--auto{
  flex: 1;
}

// Wrap
.flex__wrap{
  flex-wrap: wrap;
}


.is-rounded{
  border-radius: 5.5px;
}

img.responsive {
  width: 100%;
}

img.border-rounded {
  border-radius: 5.5px;
}