@import '/src/theme/variables.scss';

ion-tab-button {
  color: $primary-color;
  --color-selected: $primary-color;
  opacity: 0.6;

  ion-label {
    line-height: 20px;
  }

  &.tab-selected {
    opacity: 1;
  }
}