<div *ngIf="card">
  <div *ngIf="!isList" class="cards-container__inset" (click)="onReplay()">
      <div class="suggestion card-container {{active}} has-bg-img"
      [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + card.picture + ')'}">
          <div class="card-header">
          </div>  
      <!-- CONTENT -->
        <div class="card-content">
          <!-- Card details -->
          <div class="card_details">
            <!-- Title -->
            <div class="card_title">
              {{ card?.content}}
            </div>
          </div>
        </div>
        <!-- FOOTER -->
        <div class="card-footer">
          <div class="card-footer-wrapper" style="background-color: rgb(255, 255, 255)">
            <!-- ANSWERS -->
            <div class="multi-buttons">
              <div class="smiley-container">
                <div class="smiley-item" (click)="onAnswer('Sunglasses')">
                  <figure>
                    <img src="assets/imgs/icons/mood/sunglasses.svg" />
                  </figure>
                </div>
                <div class="smiley-item" (click)="onAnswer('Happy')">
                  <figure>
                    <img src="assets/imgs/icons/mood/happy.svg" />
                  </figure>
                </div>
                <div class="smiley-item" (click)="onAnswer('Indifferent')">
                  <figure>
                    <img src="assets/imgs/icons/mood/indifferent.svg" />
                  </figure>
                </div>
                <div class="smiley-item" (click)="onAnswer('Muted')">
                  <figure>
                    <img src="assets/imgs/icons/mood/muted.svg" />
                  </figure>
                </div>
                <div class="smiley-item" (click)="onAnswer('Sad')">
                  <figure>
                    <img src="assets/imgs/icons/mood/sad.svg" />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="idea_container" *ngIf="isList">
      <div class="idea_content">
        <div class="idea_header">
          <div class="idea_author_img" *ngIf="card.authorPicture != null" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + card.authorPicture + ')'}"></div>
          <div class="idea_author_letter" *ngIf="card.authorPicture == null || card.authorPicture == undefined">{{card.author.charAt(0)}}</div>
          <div class="idea_infos">
            <span class="idea_subtitle">
              <!--<span>{{ "commons.endDatePreText" | translate }}{{ card?.endDate | date:'MMMM dd, yyyy' }}</span> -->
              <span text-capitalize>{{ card.targetGroups }}</span>
            </span>
          </div>
          <span class="type_text">{{"flow."+card.type.toLowerCase() | translate}}</span> 
        </div>
        <div class="idea_image" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + card.picture + ')'}"></div> 

        <div class="idea_text">
          {{ card?.content}}
        </div>
  
      </div>
  
      <!-- Card footer -->
      <div class="card-footer">
        <div class="card-footer-wrapper" style="background-color: rgb(255, 255, 255)">
          <!-- ANSWERS -->
          <div class="multi-buttons">
            <div class="smiley-container">
              <div class="smiley-item" (click)="onAnswer('Sunglasses')">
                <figure>
                  <img src="assets/imgs/icons/mood/sunglasses.svg" />
                </figure>
              </div>
              <div class="smiley-item" (click)="onAnswer('Happy')">
                <figure>
                  <img src="assets/imgs/icons/mood/happy.svg" />
                </figure>
              </div>
              <div class="smiley-item" (click)="onAnswer('Indifferent')">
                <figure>
                  <img src="assets/imgs/icons/mood/indifferent.svg" />
                </figure>
              </div>
              <div class="smiley-item" (click)="onAnswer('Muted')">
                <figure>
                  <img src="assets/imgs/icons/mood/muted.svg" />
                </figure>
              </div>
              <div class="smiley-item" (click)="onAnswer('Sad')">
                <figure>
                  <img src="assets/imgs/icons/mood/sad.svg" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END LIST -->
</div>
