<ion-content class="app">
  <ion-refresher (ionRefresh)="onRefresh($event)" slot='fixed'>
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="header header-big has-main-color-bg with-triangle">
    <div class="header-left">
      <div class="view_title">{{ "highlights.highlightsConcernTitle" | translate }}</div>
    </div>
  </div>
  <div class="main with-triangle">
    <div class="highlights container">

      <div class="highlights-item">
        <highlights-general-mood [refresher]="refresher"></highlights-general-mood>
      </div>

      <div class="highlights-item">
        <highlights-best-contributor [refresher]="refresher"></highlights-best-contributor>
      </div>

      <div class="highlights-item">
        <highlights-best-post [refresher]="refresher"></highlights-best-post>
      </div>
      
      <div class="highlights-item">
        <highlights-top-posts [refresher]="refresher"></highlights-top-posts>
      </div>
    </div>
  </div>
</ion-content>
