<div class="top-posts top-posts-carousel" *ngIf="topPosts?.length > 0 ">
  <div class="top-posts-title">Top posts</div>
  <div class="top-posts-container">
    <div class="top-posts-list">
      <div tappable class="top-post" *ngFor="let post of topPosts | slice:0:5; let i=index" (click)="onShowPostDetailsModal(post.id,post.picture)">
        <img *ngIf="post?.type != 'Quote'" width="100%" height="50%" class="top-post-image" [src]="'data:image/jpeg;base64,'+ post.picture"/>
        <div *ngIf="post?.type == 'Quote'" width="100%" height="50%" class="top-post-image" style="background-color: #46adf2"></div>
        <div class="top-post-content">
          <div class="top-post-title">{{ post.content }}</div>
          <div class="top-post-subtitle">
            <span>{{ "commons.endDatePreText" | translate }} {{ post.endDate | date:'MMMM dd, yyyy' }}</span>
            <span>{{ onGetStatus(post.publicationDate, post.endDate) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
